body{
    margin: 0;
    padding: 0;
}
nav{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #8f9194;

}
nav > ul{
    /* margin: 0;
    padding: 0; */
    display: flex;
    margin: auto;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    list-style-type: none;
}
nav > ul >li{
    /* display: flex;
    align-content: center;
    justify-content: center;
     */
    color:black;
    font-weight: bolder;
}
nav > ul >li >a >img{
    height: 35px;

}
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
li{
    float: left;
    margin-right: 10px;
}
body{
    background-color: #b3b7c9;
}
.container{
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    margin: auto;
    margin-top: 100px;
    width: 1000px;
    height: 850px;
    box-shadow: 5px 5px 5px 5px #8f9194;

}
label{
    display: block;
    margin-bottom: 10px;

}
form{
    margin-top: 45px;
    width: 560px;
 
}
input{
    padding-left: 12px;
    border-radius: 15px;
    font-size: large;
    width: 100%;
    height: 35px;
}
.btn-submit{
    
    margin-top: 15px;
    display: flex;
   width: 100%;
    justify-content: flex-end;
}
button{
    padding: 15px; 
    border-radius: 15px; 
    font-size: medium;
}
form{
    gap: 25px;
    display: flex;
    flex-direction: column;
}
.selection{
    padding-left: 15px;
    border-radius: 15px;
    font-size: larger;
    height: 40px;
    width: 100%;
}
textarea{
    font-size: x-large;
    padding-left: 15px;
    height: 100px;
    width: 100%;
}
.btn{
    background-color: black;
    color: white;
    /* width: 100px;
    height: 35px; */
    padding: 10px 15px;
    border-radius: 30px;
}